<!DOCTYPE html>
<html>
  <head>
    <title>Sample3Rspec</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="c-app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  <%= render "layouts/sidebar" if current_user.present?  %>
  <div class="c-wrapper">
    <%= render "layouts/header" if current_user.present? %>
    <div class="c-body">
      <main class="c-main">
        <div class="container-fluid">
          <div id="messages" class="alert alert-danger d-none" role="alert"></div>
          <%= yield %>
        </div>
      </main>
    </div>
    <footer class="c-footer">
      <div><a href="https://rubyonring.com/">Sales Force Sample</a> &copy; 2021 creativeLabs.</div>
      <div class="ml-auto">Powered by&nbsp;<a href="https://rubyonring.com/">Ruby on Ring</a></div>
    </footer>
  </div>
  </body>
</html>
